@import "tailwindcss";

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tema Default - Claro */
:root {
  --text-primary: #353535;
  --nav-bg-color: #ffffff;
  --link-color: #0377b9;
  --link-color-hover: #ed2590;
  --footer-bg-color: #ffffff;
  --bg-color: #d4dded;
  --component-bg-color: #ffffff;
  --card-bg-color: #ffffff;
  --thoughts-bg-color: #f0f5fc;
  --hr-color: #ed2590;
  --seeAll-color: #0377b9;
  --seeAllHover-color: #ed2590;
  --bg-rgba-card: rgba(0, 0, 0, 0.05);
  --input-bg-color: #ffffff;
  --select-bg-color: #f8f9fa;
  --select-accent-color: #dee2e6;
  --select-arrow-color: #495751;
  --select-text-color: #212529;
}

/* Tema Escuro */
[data-theme="dark"] {
  --text-primary: #ffffff;
  --nav-bg-color: #152232;
  --link-color: #ed2590;
  --link-color-hover: #0377b9;
  --footer-bg-color: #152232;
  --bg-color: #0b1622;
  --component-bg-color: #152232;
  --card-bg-color: #152232;
  --thoughts-bg-color: #15283c;
  --hr-color: #0377b9;
  --seeAll-color: #ed2590;
  --seeAllHover-color: #0377b9;
  --bg-rgba-card: rgba(255, 255, 255, 0.05);
  --input-bg-color: #152232;
  --select-bg-color: #223245;
  --select-accent-color: #32475f;
  --select-arrow-color: #152232;
  --select-text-color: #c1c1c1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* button,
input,
textarea {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: 1px solid var(--primary-color);
  transition: all 0.3s ease;
} */

.site-content {
  flex: 1 0 auto;
}
