.communityBasicInfoContainer {
  width: 300px;
  min-height: 700px;

  background-color: var(--card-bg-color);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  padding: 30px;
}

/* .picture-border {
} */

.communityPicture {
  width: 250px;
  height: 375px;
  border-radius: 5px;
  object-fit: cover;

  margin-bottom: 10px;
}

.communityInfo {
  color: var(--text-primary);
}

.communityMembers {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  margin-top: 10px;
}

.communityHrFaded {
  display: block;
  border: none;
  height: 1px; /* aumenta um pouco pra enxergar melhor */
  width: 100%;
  background: linear-gradient(
    to right,
    transparent,
    var(--hr-color),
    transparent
  );

  margin-top: 20px;
  margin-bottom: 20px;
}

.communityLinksContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.communityLink {
  color: var(--text-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  transition: color 0.2s ease-in;
}

.communityLink:hover {
  color: #0377b9;
  cursor: pointer;
}

.communityLinksActions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actionTitle {
  color: var(--text-primary);
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.communityLinkAction {
  color: var(--text-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  transition: color 0.2s ease-in;
}

.communityLinkAction:hover {
  color: #0377b9;
  cursor: pointer;
}

.iconWrapper {
  width: 24px;
  display: flex;
  justify-content: center;
}
