.topicCard {
  width: 100%;
  max-width: 1400px;

  margin-inline: auto;

  background-color: var(--card-bg-color);

  border-radius: 12px;

  padding: 30px;

  display: flex;
  flex-direction: column;

  gap: 40px;
}

.topicHeader {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.commentsSection {
  display: flex;
  flex-direction: column;

  gap: 32px;
}
