/* Contêiner ocupa 100% da tela e centraliza o loader */
.loadingContainer {
  min-height: 100vh;
  position: fixed; /* cobre a tela inteira */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  z-index: 9999;
}

/* Loader com dois anéis */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-top: 4px solid #025d92; /* cor 1 */
  border-right: 4px solid transparent;
  box-sizing: border-box;
  position: relative;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #ed2590; /* cor 2 */
  border-left: 4px solid transparent;
}

/* Animação */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
