.communitiesContainer {
  min-width: 460px;
  height: auto;
  color: var(--text-primary);
  background-color: var(--card-bg-color);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.communityTitle {
  font-size: 1.4rem;
  font-weight: bold;
}

.communities {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Alinha os blocos amigos no topo da linha */
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.communityContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* centraliza imagem + nome dentro do bloco */
  justify-content: flex-start; /* itens começam do topo */
  width: 100px; /* força todos os blocos a ter a mesma largura */
  gap: 5px; /* espaço entre imagem e nome */
}

.communityInfo {
  display: flex;
  flex-direction: column;
  align-items: center; /* centraliza imagem + nome horizontalmente */
  gap: 5px; /* espaço entre imagem e nome */
  width: 130px;
  padding: 15px 20px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.communityInfo:hover {
  background-color: var(--bg-rgba-card);
  cursor: pointer;
}

.communityPicture {
  width: 80px;
  height: 120px;
  border-radius: 5px;
  object-fit: cover;
  display: block;
}

.communityName {
  text-align: center; /* centraliza o nome dentro do bloco */
  margin: 0;
  font-size: 0.95rem;
  word-break: break-word; /* evita que nomes longos quebrem o layout */
}

.communityHrFaded {
  display: block;
  border: none;
  height: 1px; /* aumenta um pouco pra enxergar melhor */
  width: 100%;
  background: linear-gradient(to right, transparent, #0377b9, transparent);

  margin-top: 15px;
  margin-bottom: -20px;
}

.seeAllCommunities {
  font-size: 1.1rem;
  font-weight: bold;
  color: #ed2590;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;

  margin-top: 20px;

  transition: color 0.2s ease-in;
}

.seeAllCommunities:hover {
  color: #0377b9;
  cursor: pointer;
}
