.page {
  max-height: 100vh;
}

.communityContainer {
  max-width: 1700px;
  height: auto;
  margin-inline: auto;
  margin-top: 40px;

  display: flex;
  flex-direction: row;
  gap: 20px;
}

.communityCentralContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.communityRightContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
