.communityDetailsContainer {
  width: 900px;
  min-height: 250px;
  background-color: var(--card-bg-color);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  padding-top: 10px;
  padding-inline: 30px;
  padding-bottom: 30px;
}

.communityName {
  color: var(--text-primary);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.communityDescription {
  color: var(--text-primary);
}

.communityInfoContainer {
  display: flex; /* Colunas lado a lado */
  gap: 40px; /* Espaço entre colunas */
}

.communityInfoColumn {
  color: var(--text-primary);
  flex: 1; /* Cada coluna ocupa metade do espaço disponível */
}

.communityInfoLine {
  display: grid;
  grid-template-columns: 200px 1fr; /* 200px para o label, resto para o value */
  align-items: center;
  margin-bottom: 8px;
}

.communityInfoLineLabel {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 6px; /* espaço entre ícone e texto */
}

.communityInfoLineValue {
  display: flex;
  align-items: center;
}

.communityDetailsHrFaded {
  display: block;
  border: none;
  height: 1px;
  width: 100%;
  background: linear-gradient(
    to right,
    transparent,
    var(--hr-color),
    transparent
  );
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Primeira letra maiuscula */
.capitalize {
  text-transform: capitalize;
}
